@using MvcCv.Models.Entity
@model List<TblSosyalMedya>

<div class="social-icons">

    @foreach (var item in Model)
    {
        if (item.Durum == true)
        {

            <a class="social-icon" href="@item.Link"><i class="@item.ikon"></i></a>
        }


    }

</div>

